<div class="dq-background full-width full-height"></div>
<div class="dq-container flex-div column" (keyup.enter)="login()">
  <h1 class="dq-title">Login to defiquiz</h1>
  <app-auth-form [authFormGroup]="loginForm" class="dq-menu flex-div column">
    <button type="button" class="btn btn-highlight dq-button" (click)="login()" *ngIf="!logging">
      <a>Log in</a>
    </button>
    <div class="error" *ngIf="emailFormat">
      *Invalid email
    </div>
    <div class="error" *ngIf="passwordInvalid">
      *Missing password
    </div>
  </app-auth-form>
  <div class="spinner-border" *ngIf="logging" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
