<div class="dq-background full-width full-height"></div>
<div class="dq-container flex-div column">
  <div class="dq-back btn btn-light" [routerLink]="['/home/themes']">
    <a>Go back</a>
  </div>
  <div class="dq-logo"></div>
  <h1 class="dq-title">Defiquiz new Theme</h1>
  <div class="dq-menu flex-div column form-container" *ngIf="newThemeForm$ | async as newThemeForm">
    <dq-new-form [formGroup]="newThemeForm">
      <button class="dq-menu-option btn btn-highlight" tabindex="0"
      (click)="createNew ? addNewTheme(newThemeForm) : editTheme(newThemeForm)"
       [disabled]="newThemeForm.invalid" *ngIf="!loadingNew">
        <a>{{createNew ? 'Add new Theme' : 'Save Theme'}}</a>
      </button>
      <div class="loading-container flex-div column" *ngIf="loadingNew">
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </dq-new-form>
  </div>
</div>