<div class="dq-background full-width full-height">
  <div class="child full-width full-height"></div>
  <div class="child2 full-width full-height"></div>
  <div class="child3 full-width full-height"></div>
</div>
<div class="dq-container flex-div column">
  <div class="dq-back btn btn-light" [routerLink]="['/home/themes']"
  (keyup.enter)="router.navigate(['/home/themes'])" tabindex="0" role="button">
    <a>Return</a>
  </div>
  <div class="dq-logo"></div>
  <h1 class="dq-title">{{ createNew ? 'Create new Theme' : 'Edit Theme' }}</h1>
  <div class="dq-menu flex-div column form-container" *ngIf="newThemeForm$ | async as newThemeForm">
    <dq-new-form [formGroup]="newThemeForm" class="flex-div column">
      <button class="dq-button dq-action btn btn-light" tabindex="0"
      role="button" (keyup.enter)="createNew ? addNewTheme(newThemeForm) : editTheme(newThemeForm)"
      (click)="createNew ? addNewTheme(newThemeForm) : editTheme(newThemeForm)"
       [disabled]="newThemeForm.invalid" *ngIf="!loadingNew">
        <a>{{createNew ? 'Add new Theme' : 'Save Theme'}}</a>
      </button>
      <div class="loading-container flex-div column" *ngIf="loadingNew">
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </dq-new-form>
  </div>
</div>
<div class="loading-container full-width flex-div column" *ngIf="loading">
  <div class="spinner-border big" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>