:host  {
  place-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  padding: 20px 0;
  @media (min-width: 580px) {
    padding: 40px 30px;
  }
  .example-form {
    display: flex;
    flex-direction: column;
    width: 450px;
    max-width: 90%;
    font-size: 1.2rem;
  }

  .button {
    width: 300px;
    font-size: 1.5em;
  }

  mat-slide-toggle {
    margin-bottom: 40px;
  }
}

@media (max-width: 490px) {
  :host {
    max-width: 92%;

    .example-form {
      max-width: 75%;
    }

    .button {
      width: 240px;
      font-size: 1em;
    }
  }
}
