// DQ global classes

@mixin dq-button {
  transform: skew(20deg);
  padding: 20px 30px;
  margin-top: 15px;
  line-height: 0;
  min-width: 150px;
  width: 100%;
  max-width: 320px;
  border-radius: 1px !important;
  border: 2px solid var(--dq-highlight-color) !important;
  a, button {
    display: block;
    font-size: 1.5rem;
    transform: skew(-20deg);
    text-align: center;
    letter-spacing: 1px;
    white-space: nowrap;
  }
  &:disabled {
    cursor: default;
  }
}

.dq-container {
  max-height: calc(100% - 10px);
  height: calc(100% - 10px);
  padding-top: 10px;
  overflow: scroll;
  scrollbar-width: thin;
  .dq-title {
    font-family: YanoneKaffeesatz;
  }
  .dq-button {
    @include dq-button();
  }
  // Scrollbar
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  &::-webkit-scrollbar-track {
    display: none;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(201, 201, 201, 0.7);
  }
  &::-webkit-scrollbar-corner {
    display: none;
  }
}

.dq-background {
  background: url('/assets/images/dq-background.png');
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -2;
}

.dq-logo {
  background: url('/assets/images/dq-logo.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 236px;
  min-height: 178px;
}

.dq-back {
  @include dq-button();
  position: absolute;
  top: 0;
  left: 2%;
  width: 80px;
}

.dq-menu {
  margin-top: 26px;
  flex: 1;
  justify-content: center;
  margin-bottom: 10vh;
  .dq-menu-option {
    @include dq-button();
  }

  .dq-table-container {
    margin-top: 5vh;
    table {
      min-width: 50vw;
    }
  }
}
