// DQ global classes

@mixin dq-button {
  padding: 0;
  margin-top: 15px;
  line-height: 0;
  height: 40px;
  min-width: 150px;
  width: 100%;
  border-radius: 20px !important;
  border: 2px solid var(--dq-highlight-color) !important;
  align-items: center;
  display: flex;
  place-content: center;
  position: relative;
  max-width: 80vw;
  @media (min-width: $dq-mobile-small) {
    max-width: 320px;
  }
  a, button, span {
    display: block;
    font-size: 1.5rem;
    text-align: center;
    letter-spacing: 1px;
    white-space: nowrap;
    height: 40px;
    width: 100%;
    line-height: 40px;
  }
  &:disabled {
    cursor: default;
  }
}

.dq-container {
  max-height: calc(100% - 20px);
  height: calc(100% - 20px);
  padding-top: 20px;
  overflow: scroll;
  scrollbar-width: thin;
  .dq-title {
    font-family: YanoneKaffeesatz;
  }
  .dq-button {
    @include dq-button();
  }
  // Scrollbar
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  &::-webkit-scrollbar-track {
    display: none;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(201, 201, 201, 0.7);
  }
  &::-webkit-scrollbar-corner {
    display: none;
  }
}

.dq-logo {
  background: url('/assets/images/dq-logo.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 236px;
  min-height: 178px;
}

.dq-back {
  @include dq-button();
  position: absolute;
  margin-top: 35px;
  top: 0;
  left: 2%;
  width: 80px;
  min-width: fit-content;
  padding: 0px 20px !important;
  text-transform: uppercase;
  a {
    font-weight: bolder;
  }
  &::before, &::after {
    content: "";
    display: block;
    width: 100px;
    height: 40px;
    position: absolute;
    z-index: -2;
    border-radius: 20px;
    background-color: var(--dq-secondary-color);
    margin: 10px -33px;
    opacity: 0.5;
  }
  &::after {
    background-color: var(--dq-alternative-color);
    margin: -31px -12px;
  }
}

.dq-menu {
  margin-top: 26px;
  flex: 1;
  justify-content: center;
  margin-bottom: 10vh;
  .dq-menu-option {
    @include dq-button();
    padding: 20px 30px;
    &:disabled {
      cursor: default;
    }
  }

  .dq-table-container {
    margin-top: 5vh;
    table {
      min-width: 50vw;
    }
  }

  .dq-action-container {
    width: 100%;
    flex-wrap: wrap;
    place-content: center;
    justify-content: space-between;
    @media (min-width: $dq-mobile) {
      // flex-direction: row;
    }
    .dq-action {
      max-width: 250px;
      margin: 10px;
    }
  }

  .errors-container {
    padding: 20px;
    max-height: 200px;
    overflow: auto;
    margin-top: 30px;
    border: 1px solid #00000088;
    span {
      font-size: 1rem;
      color: #FF0000;
      font-weight: bold;
      &.title {
        font-size: 1.5rem;
        margin-bottom: 10px;
      }
    }
    // Scrollbar
    &::-webkit-scrollbar {
      width: 6px;
      height: 6px;
    }
    &::-webkit-scrollbar-track {
      display: none;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background: rgba(201, 201, 201, 0.7);
    }
    &::-webkit-scrollbar-corner {
      display: none;
    }
  }

  .tabs-container {
    margin-top: 5vh;
  }

  .dq-action {
    input {
      display: none;
    }
    &::before {
      content: "";
      display: block;
      width: 80%;
      height: 40px;
      position: absolute;
      z-index: -1;
      border-radius: 20px;
      background-color: var(--dq-primary-color);
      top: 15%;
      right: -5%;
      opacity: 0.5;
    }
    &.loading {
      span {
        display: none;
      }
      cursor: not-allowed;
      &::after {
        content: "";
        box-sizing: border-box;
        display: block;
        width: 30px;
        height: 30px;
        border: 4px solid var(--dq-alternative-color);
        border-top-color: #FFFFFF;
        border-bottom-color: #FFFFFF;
        border-right-color: #FFFFFF;
        border-left-color: var(--dq-primary-color);
        border-radius: 50%;
        animation: load8 1s infinite linear;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
      }
    }
  }
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

