$dq-palette-highlight: (
  50 : #e0e0e0,
  100 : #b3b3b3,
  200 : #808080,
  300 : #4d4d4d,
  400 : #262626,
  500 : #000000,
  600 : #000000,
  700 : #000000,
  800 : #000000,
  900 : #000000,
  A100 : #a6a6a6,
  A200 : #8c8c8c,
  A400 : #737373,
  A700 : #666666,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);



$dq-palette-secondary: (
  50 : #f3e0ec,
  100 : #e2b3ce,
  200 : #cf80ae,
  300 : #bb4d8e,
  400 : #ad2675,
  500 : #9e005d,
  600 : #960055,
  700 : #8c004b,
  800 : #820041,
  900 : #700030,
  A100 : #ff9fc0,
  A200 : #ff6c9e,
  A400 : #ff397c,
  A700 : #ff1f6b,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$dq-palette-primary: (
  50 : #e5f5fc,
  100 : #bfe6f6,
  200 : #94d5f1,
  300 : #69c4eb,
  400 : #49b8e6,
  500 : #29abe2,
  600 : #24a4df,
  700 : #1f9ada,
  800 : #1991d6,
  900 : #0f80cf,
  A100 : #fcfdff,
  A200 : #c9e7ff,
  A400 : #96d0ff,
  A700 : #7cc5ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$dq-theme-primary: mat-palette($dq-palette-primary);
$dq-theme-secondary: mat-palette($dq-palette-secondary);
$dq-theme-highlight: mat-palette($dq-palette-highlight);

$dq-theme: mat-light-theme(
  $dq-theme-primary,
  $dq-theme-secondary,
);

@include angular-material-theme($dq-theme);

$dq-primary-color: #29ABE2;
$dq-secondary-color: #9E005D;
$dq-highlight-color: #000000;
$dq-alternative-color: #FFFF00;

.btn {
  &.btn-light {
    background-color: transparent !important;
  }
}