/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import '~@angular/material/theming';

@include mat-core();

.flex-div {
  display: flex;
  align-items: center;
  &.column {
    flex-direction: column;
  }
}

@import './dq-background.scss';
@import './dq-theming.scss';
@import './dq-table.scss';
@import './dq-material.scss';
@import './dq-forms.scss';
@import './dq-global.scss';
@import './dq-image-handler.scss';

// Bootstrap
$theme-colors: (
  "primary": $dq-primary-color,
  "secondary": $dq-secondary-color,
  "highlight": $dq-highlight-color,
  "alternative": $dq-alternative-color,
);

@import '~bootstrap/scss/bootstrap';

// DQ-Variables

html, body { height: 100%; }
* {
  margin: 0;
  font-family: YanoneKaffeesatz;
}

:root {
  --dq-primary-color: #29ABE2;
  --dq-secondary-color: #9E005D;
  --dq-highlight-color: #000000;
  --dq-alternative-color: #FFFF00;
}

.full-height {
  height: 100%;
}
.full-width {
  width: 100%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: none;
  -webkit-box-shadow: none;
  transition: background-color 5000s ease-in-out 0s;
}

// A11Y
*[role="link"]:focus {
  outline: 2px solid var(--dq-primary-color);
}

*[role="button"]:focus {
  outline: 2px solid var(--dq-primary-color);
}

.dq-action:focus {
  > .dq-action-cont {
    outline: 2px solid var(--dq-primary-color);
  }
}

.dq-action:focus,
.dq-action-cont:focus {
  outline: none;
}

.message-snackbar {
  simple-snack-bar {
    font-size: 1.5rem;
    line-height: 1.5rem;
    .mat-simple-snackbar-action {
      button {
        font-size: 1.5rem;
        color: var(--dq-primary-color);
      }
    }
  }
}

.loading-container {
  position: absolute;
  top: 50%;
  .spinner-border {
    color: var(--dq-primary-color);
    &.big {
      border: 0.5em solid currentColor;
      border-right-color: transparent;
      width: 4rem;
      height: 4rem;
    }
  }
}