<ng-container *ngIf="question.image">
  <img [src]="apiService.URL_API + '/questions/' + question._id + '/image'">
</ng-container>
<a class="dq-button dq-action btn btn-light" tabindex="0" role="button"
  (keyup.enter)="fileInput.click()" (click)="fileInput.click()"
  [class.disabled]="loadingFile" [class.loading]="loadingFile">
  <span tabindex="-1" class="dq-action-cont">{{ question.image ? 'Edit image' : 'Upload image' }}</span>
  <input type="file" #fileInput type="file" (change)="onFileInput($event)">
</a>