dq-server/node_modules/
dq-server/.eslintrc.js

dq-server/.env
dq-server/.env.test

dq-server/.vscode


dq-backoffice/node_modules/
dq-backoffice/dist
dq-backoffice/tmp
dq-backoffice/out-tsc
dq-backoffice/npm-debug.log
dq-backoffice/yarn-error.log

**/__pycache__/