<div class="dq-background full-width full-height">
  <div class="child full-width full-height"></div>
  <div class="child2 full-width full-height"></div>
  <div class="child3 full-width full-height"></div>
</div>
<div class="dq-container flex-div column">
  <div class="dq-back btn btn-light" [routerLink]="['/home']"
  (keyup.enter)="router.navigate(['/home'])" tabindex="0" role="button">
    <a>Go back</a>
  </div>
  <div class="dq-logo"></div>
  <h1 class="dq-title">Defiquiz Players</h1>
  <div class="dq-menu flex-div column">
  </div>
</div>