<div class="dq-background full-width full-height">
  <div class="child full-width full-height"></div>
  <div class="child2 full-width full-height"></div>
  <div class="child3 full-width full-height"></div>
</div>
<div class="dq-container flex-div column" *ngIf="themes$ | async as themes">
  <div class="dq-back btn btn-light" [routerLink]="['/home']"
  (keyup.enter)="router.navigate(['/home'])" tabindex="0" role="button">
    <a>Return</a>
  </div>
  <div class="dq-logo"></div>
  <h1 class="dq-title">Defiquiz Themes</h1>
  <div class="dq-menu flex-div column">
    <div class="dq-action-container flex-div column">
      <a class="dq-button dq-action btn btn-light" [routerLink]="['/home/themes/new']"
      (keyup.enter)="router.navigate(['/home/themes/new'])" tabindex="0" role="button">
        <span tabindex="-1" class="dq-action-cont">Add new Theme</span>
      </a>
      <a class="dq-button dq-action btn btn-light" tabindex="0" role="button"
        (keyup.enter)="fileInput.click()" (click)="fileInput.click()"
        [class.disabled]="loadingExcel" [class.loading]="loadingExcel">
        <span tabindex="-1" class="dq-action-cont">Massive import</span>
        <input type="file" #fileInput type="file" (change)="onFileInput($event)">
      </a>
    </div>
    <div class="tabs-container flex-div column">
      <div class="nav nav-tabs justify-content-center full-width" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-public-tab" data-toggle="tab" href="#nav-public" role="tab" aria-controls="nav-public" aria-selected="true">Public</a>
        <a class="nav-item nav-link" id="nav-private-tab" data-toggle="tab" href="#nav-private" role="tab" aria-controls="nav-private" aria-selected="false">Private</a>
      </div>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-public" role="tabpanel" aria-labelledby="nav-public-tab">
          <div class="dq-table-container">
            <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 dq-table">
      
              <!-- Name Column -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                <td mat-cell *matCellDef="let element"> <strong>{{element.name}}</strong> </td>
              </ng-container>
            
              <!-- Description Column -->
              <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
                <td mat-cell *matCellDef="let element"> 
                  {{element.description}}
                </td>
              </ng-container>
      
              <!-- Edit -->
              <ng-container matColumnDef="edit">
                <th mat-header-cell *matHeaderCellDef justify="end"></th>
                <td mat-cell *matCellDef="let element" justify="end"> 
                  <mat-icon matSuffix [routerLink]="['/home/themes/' + element._id]"
                  tabindex="0" role="link" (keyup.enter)="router.navigate(['/home/themes/' + element._id])">edit</mat-icon>
                </td>
              </ng-container>

            
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['/home/themes/' + row._id + '/questions']"
              (keyup.enter)="router.navigate(['/home/themes/' + row._id + '/questions'])"
                tabindex="0" role="link"></tr>
            </table>
          </div>
        </div>
        <div class="tab-pane fade" id="nav-private" role="tabpanel" aria-labelledby="nav-private-tab">
          <div class="dq-table-container">
            <table mat-table [dataSource]="dataSourcePrivate" matSort class="mat-elevation-z8 dq-table">
      
              <!-- Name Column -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                <td mat-cell *matCellDef="let element"> <strong>{{element.name}}</strong> </td>
              </ng-container>
            
              <!-- Description Column -->
              <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
                <td mat-cell *matCellDef="let element"> 
                  {{element.description}}
                </td>
              </ng-container>

              <!-- Company name Column -->
              <ng-container matColumnDef="companyName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Company name </th>
                <td mat-cell *matCellDef="let element"> <strong>{{element.company ? element.company.name : '-'}}</strong> </td>
              </ng-container>

              <!-- Company subname Column -->
              <ng-container matColumnDef="companySubName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Company subname </th>
                <td mat-cell *matCellDef="let element"> <strong>{{element.company ? element.company.subname : '-'}}</strong> </td>
              </ng-container>
      
              <!-- Edit -->
              <ng-container matColumnDef="edit">
                <th mat-header-cell *matHeaderCellDef justify="end"></th>
                <td mat-cell *matCellDef="let element" justify="end"> 
                  <mat-icon matSuffix [routerLink]="['/home/themes/' + element._id]"
                  tabindex="0" role="link" (keyup.enter)="router.navigate(['/home/themes/' + element._id])">edit</mat-icon>
                </td>
              </ng-container>

            
              <tr mat-header-row *matHeaderRowDef="displayedColumnsPrivate"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumnsPrivate;" [routerLink]="['/home/themes/' + row._id + '/questions']"
              (keyup.enter)="router.navigate(['/home/themes/' + row._id + '/questions'])"
                tabindex="0" role="link"></tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="loading-container" *ngIf="loading">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>
</div>