<div class="dq-background full-width full-height"></div>
<div class="dq-container flex-div column">
  <div class="dq-back btn btn-light" [routerLink]="['/home']">
    <a>Go back</a>
  </div>
  <div class="dq-logo"></div>
  <h1 class="dq-title">Defiquiz Themes</h1>
  <div class="dq-menu flex-div column">
    <li class="dq-menu-option btn btn-primary" [routerLink]="['/home/questions']">
      <a>Go to questions</a>
    </li>
    <li class="dq-menu-option btn btn-highlight" [routerLink]="['/home/themes/new']">
      <a>Add new Theme</a>
    </li>
    <ng-container *ngIf="themes$ | async as themes">
      {{ themes | json }}
    </ng-container>
    <div class="loadin-container" *ngIf="loading">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>
</div>