<div class="dq-background full-width full-height"></div>
<div class="dq-container flex-div column">
  <div class="dq-back btn btn-light" [routerLink]="['/home/themes']">
    <a>Go back</a>
  </div>
  <div class="dq-logo"></div>
  <h1 class="dq-title">Defiquiz new Theme</h1>
  <div class="dq-menu flex-div column form-container">
    <dq-new-form [formGroup]="newThemeForm">
      <button class="dq-menu-option btn btn-accent" tabindex="0" (click)="addNewTheme()"
       [disabled]="newThemeForm.invalid">
        <a>Add new Theme</a>
      </button>
    </dq-new-form>
  </div>
</div>