<div class="dq-background full-width full-height"></div>
<div class="dq-container flex-div column">
  <div class="dq-logo"></div>
  <div class="dq-menu flex-div column">
    <li class="dq-menu-option btn btn-highlight" [routerLink]="['/home/themes']">
      <a>Manage themes & questions</a>
    </li>
    <li class="dq-menu-option btn btn-highlight" [routerLink]="['/home/players']">
      <a>Manage players</a>
    </li>
    <!-- <li class="dq-menu-option btn btn-highlight" [routerLink]="['/home/media']"> -->
    <li class="dq-menu-option btn btn-highlight disabled" disabled>
      <a>Manage media content</a>
    </li>
    <li class="dq-menu-option btn btn-light disabled" disabled>
      <a>Start a new game</a>
    </li>
  </div>
</div>
