<div class="dq-background full-width full-height">
  <div class="child full-width full-height"></div>
  <div class="child2 full-width full-height"></div>
  <div class="child3 full-width full-height"></div>
</div>
<div class="dq-container flex-div column">
  <div class="dq-logo centered"></div>
  <div class="dq-menu flex-div column">
    <li class="dq-menu-option btn btn-highlight" [routerLink]="['/home/themes']"
    (keyup.enter)="router.navigate(['/home/themes'])" role="link" tabindex="0">
      <a>Manage themes & questions</a>
    </li>
    <li class="dq-menu-option btn btn-highlight" [routerLink]="['/home/players']"
    (keyup.enter)="router.navigate(['/home/players'])" role="link" tabindex="0">
      <a>Manage players</a>
    </li>
    <li class="dq-menu-option btn btn-highlight" [routerLink]="['/home/games']"
    (keyup.enter)="router.navigate(['/home/games'])" role="link" tabindex="0">
      <a>Manage games</a>
    </li>
  </div>
</div>
