<div class="dq-background full-width full-height">
  <div class="child full-width full-height"></div>
  <div class="child2 full-width full-height"></div>
  <div class="child3 full-width full-height"></div>
</div>
<div class="dq-container flex-div column">
  <div class="dq-back btn btn-light" [routerLink]="['/home/games']"
  (keyup.enter)="router.navigate(['/home/games'])" tabindex="0" role="button">
    <a>Return</a>
  </div>
  <div class="dq-logo"></div>
  <ng-container *ngIf="gameDetailForm$ | async as gameDetailForm; else loading">
    <ng-container *ngIf="players$ | async as players; else loading">
      <ng-container *ngIf="themes$ | async as themes; else loading">
        <h1 class="dq-title">{{ !gameDetailForm.value.firstName ? 'Create new Game' : 'Edit Game' }}</h1>

        <div class="dq-menu flex-div column form-container" [formGroup]="gameDetailForm">
          <mat-horizontal-stepper linear #stepper class="full-height">
            
            <!-- Select Name -->
            <mat-step [stepControl]="gameDetailForm.get('name')" [optional]="false">
              <ng-template matStepLabel>Name of the game</ng-template>
              <mat-form-field *ngIf="gameDetailForm.contains('name')" appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput placeholder="Name" formControlName="name">
                <mat-icon mat-button *ngIf="gameDetailForm.get('name').value"
                matSuffix mat-icon-button aria-label="Clear" (click)="gameDetailForm.get('name').patchValue('')">
                  close
                </mat-icon>
              </mat-form-field>
              <div class="button-container flex-div">
                <button class="dq-button dq-action btn btn-light" tabindex="0"
                role="button" mat-button matStepperPrevious>Back</button>
                <button class="dq-button dq-action btn btn-light" tabindex="0"
                role="button" mat-button matStepperNext [disabled]="gameDetailForm.get('name').invalid"
                [class.disabled]="gameDetailForm.get('name').invalid">Next</button>
              </div>
            </mat-step>

            <!-- Select themes -->
            <mat-step [stepControl]="gameDetailForm.get('themes')" [optional]="false">
              <ng-template matStepLabel>Select 10 themes</ng-template>
              <div cdkDropListGroup class="flex-div">
                <div class="select-container flex-div column">
                  <h2>All themes</h2>
                  <mat-form-field appearance="outline">
                    <mat-label>Filter</mat-label>
                    <input matInput placeholder="Theme name" #inputTheme>
                  </mat-form-field>

                  <mat-radio-group aria-label="Select an option" formControlName="showPublic"
                    class="full-width flex-div">
                    <mat-radio-button [value]="true">Public</mat-radio-button>
                    <mat-radio-button [value]="false">Private</mat-radio-button>
                  </mat-radio-group>
                  <!-- Public  -->
                  <div
                    cdkDropList
                    [cdkDropListEnterPredicate]="publicPredicate"
                    [cdkDropListData]="filterSelectedThemes(themes, gameDetailForm.get('themes').value, true)"
                    class="select-container-list" [class.hidden]="!gameDetailForm.get('showPublic').value"
                    (cdkDropListDropped)="drop($event, gameDetailForm, 'themes')">
                    <div *ngFor="let item of filterSelectedThemes(themes, gameDetailForm.get('themes').value, true); let i = index"
                      cdkDrag [cdkDragData]="item"
                      (click)="customDrop(i, 0, 2, gameDetailForm, 'themes')">
                      <mat-card class="select-container-box mat-elevation-3"
                      [class.hidden]="!item.name.toLocaleLowerCase().includes(inputTheme.value.toLowerCase())"
                      >{{item.name}}
                      <span class="badge badge-primary" *ngIf="item.isDefault">Default</span>
                      <span class="badge badge-secondary" *ngIf="!item.isPublic">Private</span>
                      </mat-card>
                    </div>
                  </div>
                  <!-- Private -->
                  <div
                    cdkDropList
                    [cdkDropListEnterPredicate]="privatePredicate"
                    [cdkDropListData]="filterSelectedThemes(themes, gameDetailForm.get('themes').value, false)"
                    class="select-container-list" [class.hidden]="gameDetailForm.get('showPublic').value"
                    (cdkDropListDropped)="drop($event, gameDetailForm, 'themes')">
                    <div *ngFor="let item of filterSelectedThemes(themes, gameDetailForm.get('themes').value, false); let i = index"
                      [cdkDragData]="item" cdkDrag 
                      (click)="customDrop(i, 1, 2, gameDetailForm, 'themes')">
                      <mat-card class="select-container-box mat-elevation-3"
                      [class.hidden]="!item.name.toLocaleLowerCase().includes(inputTheme.value.toLowerCase())"
                      >{{item.name}}
                      <span class="badge badge-secondary">Private</span></mat-card>
                    </div>
                  </div>
                </div>
              
                <div class="select-container flex-div column">
                  <h2>Selected Themes</h2>
                  
                  <div
                    cdkDropList
                    [cdkDropListData]="gameDetailForm.get('themes').value"
                    class="select-container-list"
                    (cdkDropListDropped)="drop($event, gameDetailForm, 'themes')">
                    <mat-card class="select-container-box"
                      [cdkDragData]="item"
                      *ngFor="let item of gameDetailForm.get('themes').value; let i = index"
                      (click)="customDrop(i, 2, item.isPublic ? 0 : 1, gameDetailForm, 'themes')"
                      cdkDrag>
                      {{item.name}}
                      <span class="badge badge-primary" *ngIf="item.isDefault">Default</span>
                      <span class="badge badge-secondary" *ngIf="!item.isPublic">Private</span>
                    </mat-card>
                  </div>
                </div>
              </div>
              <div class="button-container flex-div">
                <button class="dq-button dq-action btn btn-light" tabindex="0"
                role="button" mat-button matStepperPrevious>Back</button>
                <button class="dq-button dq-action btn btn-light" tabindex="0"
                role="button" mat-button matStepperNext [disabled]="gameDetailForm.get('themes').invalid"
                [class.disabled]="gameDetailForm.get('themes').invalid">Next</button>
              </div>
            </mat-step>

            <!-- Select players -->
            <mat-step [stepControl]="gameDetailForm.get('players')" [optional]="false">
              <ng-template matStepLabel>Select some players</ng-template>
              <div cdkDropListGroup class="flex-div">
                <div class="select-container flex-div column">
                  <h2>All players</h2>
                  <mat-form-field appearance="outline">
                    <mat-label>Filter</mat-label>
                    <input matInput placeholder="Player name" #inputPlayer>
                  </mat-form-field>
              
                  <div
                    cdkDropList
                    [cdkDropListData]="filterSelectedPlayers(players, gameDetailForm.get('players').value)"
                    class="select-container-list"
                    (cdkDropListDropped)="drop($event, gameDetailForm, 'players')">
                    <div *ngFor="let item of filterSelectedPlayers(players, gameDetailForm.get('players').value); let i = index" cdkDrag
                    (click)="customDrop(i, 3, 4, gameDetailForm, 'players')">
                      <mat-card class="select-container-box mat-elevation-3"
                      [class.hidden]="!item.firstName.toLocaleLowerCase().includes(inputPlayer.value.toLowerCase())"
                      >{{item.firstName}} {{item.lastName}}</mat-card>
                    </div>
                  </div>
                </div>
              
                <div class="select-container flex-div column">
                  <h2>Selected Players</h2>
              
                  <div
                    cdkDropList
                    [cdkDropListData]="gameDetailForm.get('players').value"
                    class="select-container-list"
                    (cdkDropListDropped)="drop($event, gameDetailForm, 'players')">
                    <mat-card class="select-container-box"
                    *ngFor="let item of gameDetailForm.get('players').value; let i = index"
                    (click)="customDrop(i, 4, 3, gameDetailForm, 'players')"
                    cdkDrag>
                      {{item.firstName}} {{item.lastName}}
                    </mat-card>
                  </div>
                </div>
              </div>
              <div class="button-container flex-div">
                <button class="dq-button dq-action btn btn-light" tabindex="0"
                role="button" mat-button matStepperPrevious>Back</button>
                <button class="dq-button dq-action btn btn-light" tabindex="0"
                role="button" mat-button matStepperNext [disabled]="gameDetailForm.invalid"
                [class.disabled]="gameDetailForm.invalid"
                (click)="createNew ? addNewGame(gameDetailForm) : editGame(gameDetailForm)"
                (keydown.enter)="createNew ? addNewGame(gameDetailForm) : editGame(gameDetailForm)">
                  {{createNew ? 'Add new Game' : 'Save Game'}}
                </button>
              </div>
            </mat-step>
          </mat-horizontal-stepper>
        </div>
      </ng-container>
    </ng-container>
  </ng-container>
  <ng-template #loading>
    <div class="loading-container full-width flex-div column">
      <div class="spinner-border big" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </ng-template>
</div>
