<div class="dq-background full-width full-height"></div>
<div class="dq-container flex-div column">
  <div class="dq-back btn btn-light" [routerLink]="['/home']">
    <a>Go back</a>
  </div>
  <div class="dq-logo"></div>
  <h1 class="dq-title">Defiquiz Questions</h1>
  <div class="dq-menu flex-div column">
    <li class="dq-menu-option btn btn-primary" [routerLink]="['/home/themes']">
      <a>Go to themes</a>
    </li>
    <li class="dq-menu-option btn btn-highlight" [routerLink]="['/home/questions/new']">
      <a>Add new Question</a>
    </li>
    <div class="dq-table-container" *ngIf="questions$ | async as themes">
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
      
        <!-- Theme Column -->
        <ng-container matColumnDef="theme">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Theme </th>
          <td mat-cell *matCellDef="let element"> {{ getThemeName(element.theme) | async }} </td>
        </ng-container>

        <!-- Text Column -->
        <ng-container matColumnDef="text">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Text </th>
          <td mat-cell *matCellDef="let element"> {{element.text}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['/home/questions/' + row._id]"></tr>
      </table>
    </div>
    <div class="loading-container flex-div column" *ngIf="loading">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>
</div>
